@font-face {
    font-family: 'MusiQwik';
    src: url('resources/Musiqwik-rvL8.ttf') format('truetype'); 
}

@font-face {
    font-family: 'KleeOne-Regular';
    src: url('resources/KleeOne-Regular.ttf') format('truetype');
}

body {
    font-family: 'KleeOne-Regular'
}

.container {
    display: flex;
}

.composition {
    margin: 5px;
    padding: 5px;
    background-color: #eee;
    flex: 5;
}

.header {
    margin: 5px;
    padding: 5px;
    background-color: #ddd;    
}

.line {
    margin: 5px;
    padding: 5px;
    background-color: #ddd;    
}

.staff {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;    
    font-family: 'MusiQwik';
    font-size: 4em;
}

.lyrics {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;    
}

.collaboration-panel {
    flex: 1;
    margin: 5px;
    padding: 5px;
    background-color: #eee;
}

.room {
    margin: 5px;
    padding: 5px;
    background-color: #ddd;
}

.room-name {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
}

.recording-area {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #bbb;
}

.rec, .play {
    margin: 5px;
    padding: 5px;
    background-color: #aaa;    
}

.seat-area {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
}

.visitor-area {
    margin: 5px;
    padding: 5px;
    background-color: #bbb;
    display: flex;
}

.seat {
    margin: 5px;
    padding: 5px;
    background-color: #aaa;
}
