body {
  font-family: sans-serif;
}

.controls {
  margin-bottom: 20px;
}

.midi-log textarea {
  width: 90vw;
  height: 200px;
  resize: both;
}

.midi-player textarea {
  width: 90vw;
  height: 200px;
  resize: both;
}
